.new-user-form,
.edit-user-form {
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.edit-user-form .form-group {
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

label {
  font-weight: bold;
}
