/* .card {
  width: 30rem;
  margin: 3rem;
  padding: 1rem;
} */
@import url("https://fonts.googleapis.com/css?family=Alegreya:400,700|Lato");
body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
span {
  font-family: "Alegreya", serif;
}

.dog-card {
  text-align: left;
  padding: 1rem;
}

.dog-information {
  margin: 1rem;
}

span {
  font-weight: bold;
  margin-right: 1rem;
}

img {
  margin-bottom: 2rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 2rem;
}

* {
  color: black;
}

h1,
h2,
h3,
h4,
p {
  color: black;
}

#dog-name {
  color: black;
}

button {
  margin: 1rem;
}

mb-1 {
  margin-bottom: 1rem;
}

.btn-container .edit-btn {
  margin-right: 1rem;
}

.btn-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dog-card img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
}
