/* h1 {
  font-family: "Monoton", cursive;
  font-size: 9rem;
  padding: 2rem;
  padding-top: 5rem;
  color: #fff;
} */

body {
  font-family: ;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: ;
}

.alertMessage {
  color: MediumVioletRed;
}

li {
  list-style: none;
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
}

ul {
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  width: 100%;
}

Router {
  margin: 1rem;
}

nav {
  background-color: #167ffb;
}

#router-list li {
  list-style-type: none;
  margin: 0;
}

#router-list a {
  padding: 1rem;
  color: white;
}

#router-list a:hover {
  font-weight: bold;
  text-decoration: none;
}

img {
  width: 25rem;
}

a::after {
  color: white;
}

span {
  background-color: white;
  color: black;
  border-radius: 8px;
}

@media screen and (max-width: 950px) {
  ul {
    flex-direction: column;
    display: none;
    display: flex;
    margin-left: 7rem;
  }
  h1 {
    font-size: 5rem;
  }

  li {
    list-style-type: disc;
  }
}

.app-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
