.loginBtn {
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
}

.loginBtn:hover {
  border-style: inset;
}

div[type="dark"] span {
  background-color: inherit;
  color: white;
  margin-right: 0;
}

.wrapper {
  display: flex;
  align-items: center;
}

div[type="dark"] {
  margin-left: auto;
  margin-right: auto;
}
