/* .card {
  width: 30rem;
  margin: 4rem;
} */

.person-card img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
}

.person-card button {
  color: white;
}

.person-card * {
  color: #208db8;
}

.person-card {
  text-align: left;
}

.person-card span {
  color: #055c7d;
}

.person-card h3 {
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: #055c7d;
}

.person-card button {
  margin-bottom: 1rem;
}

.person-container {
}
