/* .card {
  width: 30rem;
  margin: 4rem;
} */

.person-card img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.person-card h3 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.person-card *,
#person-name {
  color: black;
}
