input {
  color: black;
  padding: 1rem;
  margin-right: 2rem;
  margin-top: 1rem;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

#search-container {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-group {
}

label {
}

input[type="search"] {
}
